html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

::-moz-selection {
    /* Code for Firefox */
    color: #0f0e17;
    background: #fffffe;
}

::selection {
    color: #0f0e17;
    background: #fffffe;
}

body {
    margin: 0;
    overflow: hidden;
    background: #0f0e17;
    color: #fffffe;
    font-size: 30px;
}

.slider {
    background: #0f0e17;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.slider:nth-child(2n) {
    background: #0f0e17;
}

.selection {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 10px;
    background: #f25f4c;
    font-size: 2rem;
    z-index: 10;
    cursor: default;
    max-width: 40%;
    font-size: 3rem;
    transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    transform: translateY(0px);
}

.selection__empty {
    transform: translateY(150%);
}

.logo {
    color: #f25f4c;
}

.center {
    max-width: 700px;
    margin: auto;
    line-height: 1.5;
}

h2 {
    color: #f25f4c;
}

.space {
    margin-top: 20%;
}

.imp {
    font-weight: bold;
    color: #f25f4c;
}

img {
    width: 100%;
    cursor: zoom-in;
}

.image__active {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vmin;
    transform: translate(-50%, -50%);
    cursor: zoom-out;
}

button i {
    transition: 0.2s;
}

button:hover i {
    color: #f25f4c;
}

button:focus {
    outline: none;
}

/* .btn {
    border: 2px solid #FFF6;
    border-radius: 0px 0px 25px 25px;
    background: transparent;
    transition: .1s;
    cursor: pointer;
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.btn:nth-child(1) {
    bottom: 100px;
    border-radius: 25px 25px 0px 0px;
}

.btn:hover {
    background: #fff;
    border-color: #fff;
}

.btn:focus {
    outline: none;
} */
