html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background: #0f0e17;
    color: #fffffe;
    font-size: 30px;
}

::-moz-selection {
    color: #0f0e17;
    background: #fffffe;
}

::selection {
    color: #0f0e17;
    background: #fffffe;
}

.slider {
    background: transparent;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.selection {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 10px;
    background: #f25f4c;
    font-size: 2rem;
    z-index: 10;
    cursor: default;
    max-width: 40%;
    font-size: 3rem;
    -webkit-transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    -o-transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.selection__empty {
    -webkit-transform: translateY(150%);
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}

.logo > span {
    color: #f25f4c;
}

.center {
    max-width: 700px;
    line-height: 1.5;
}

h2 {
    color: #f25f4c;
}

.imp {
    font-weight: bold;
    color: #f25f4c;
}

img {
    width: 100%;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    -o-transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
    transition: 0.5s cubic-bezier(0.79, 0, 0.18, 1);
}

img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

button i {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

button:hover i {
    color: #f25f4c;
}

button:focus {
    outline: none;
}
