
.icon-down-big:before { content: '\e800'; } /* '' */
.icon-up-big:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-thumbs-down:before { content: '\e804'; } /* '' */
.icon-cogs:before { content: '\e805'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */